{% layout "base-german" %} {% block content %}
<h1>{{projectName}} - Bericht</h1>

{% comment %}
    For the usage of icons, you can use the script located at /backend/Backend/scripts/getBase64IconForMail.py
    > python3 getBase64IconForMail.py chart-areaspline
{% endcomment %}

<h2>Bericht über den Zeitraum {{dateHumanReadable}}</h2>
<p>Dieser Bericht enthält zusammengefasste Informationen über die angebotenen Speisen, einschließlich Bewertungen und Kundenkommentare. Sehen Sie sich die Liste unten an, um zu erfahren, was unsere Kunden dazu sagen.</p>
<p>Die folgenden Speisen der Mensen wurden in den Bericht aufgenommen: {{canteen_alias}}</p>

<div>
    {% if show_canteen_feedbacks %}
        <div style="border-top: 1px solid #aaa; margin-top: 20px; margin-bottom: 10px"></div>
        <div>
            <h2>Mensa Rückmeldungen</h2>
        </div>
        <div>
            <table style="border-collapse: collapse; width: 100%; margin: 20px 0; font-family: Arial, sans-serif; border: 2px solid #ddd;">
                <thead>
                <tr>
                    <th style="padding: 12px; text-align: left; width: 25%; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">Mensa</th>
                    {% for canteen_label_entry in canteen_feedbacks[0].labels %}
                        <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }}; width: calc(75% / {{ canteen_feedbacks[0].labels | size }});">{{ canteen_label_entry.label_alias }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for canteen in canteen_feedbacks %}
                    <tr style="border-bottom: 1px solid #aaa;">
                        <td style="padding: 12px; text-align: left; width: 25%; border-right: 1px solid #aaa;">{{ canteen.canteen_alias }}</td>
                        {% for label in canteen.labels %}
                            {% assign positive_percentage = label.amount_positive | divided_by: label.amount_total | times: 100 | round %}
                            <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa; width: calc(75% / {{ canteen.labels | size }});">
                                {{ positive_percentage }}%
                                <div style="width: 100%; height: 20px; background-color: #ddd; margin-top: 5px;">
                                    <div style="width: {{ positive_percentage }}%; height: 100%;
                                            background-color:
                                            {% if positive_percentage < 40 %}#E25241
                                            {% elsif positive_percentage <= 60 %}#F7CD55
                                            {% else %}#88B153
                                    {% endif %};"></div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if show_food %}
        <div style="border-top: 1px solid #aaa; margin-top: 20px; margin-bottom: 10px"></div>
        <div>
            <h2>Speise Rückmeldungen</h2>
        </div>
        <table style="border-collapse: collapse; width: 100%; margin: 20px 0; font-family: Arial, sans-serif; border: 2px solid #ddd;">
            <thead>
            <tr>
                <th style="padding: 12px; text-align: left; width: 33%; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">Name der Speise (Durschnittliche Bewertung)</th>
                {% for label in foods[0].labels %}
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }}; width: calc(67% / {{ foods[0].labels | size }});">{{ label.alias }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for food in foods %}
                <tr style="border-bottom: 1px solid #aaa;">
                    <td style="padding: 12px; text-align: left; width: 16.5%; border-right: 1px solid #aaa;">
                        {{ food.alias }} ({{ food.rating_average }}
                            {% if food.rating_average <= food_rating_threshold_bad %}
                                {{ icon_traffic_light_red }}
                            {% elsif food.rating_average >= food_rating_threshold_good %}
                                {{ icon_traffic_light_green }}
                            {% else %}
                                {{ icon_traffic_light_yellow }}
                            {% endif %}
                        )
                    </td>
                    {% for label in food.labels %}
                        {% assign positive_percentage = label.amount_positive | divided_by: label.amount_total | times: 100 | round %}
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa; width: calc(67% / {{ food.labels | size }});">
                            {{ positive_percentage }}%
                            <div style="width: 100%; height: 20px; background-color: #ddd; margin-top: 5px;">
                                <div style="width: {{ positive_percentage }}%; height: 100%;
                                        background-color:
                                        {% if positive_percentage < 40 %}#E25241
                                        {% elsif positive_percentage <= 60 %}#F7CD55
                                        {% else %}#88B153
                                {% endif %};"></div>
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



    {% if show_food_comments %}
        <div style="border-top: 1px solid #aaa; margin-top: 20px; margin-bottom: 10px"></div>
        <div>
            <h2>Speise Kommentare</h2>
        </div>
        <div style="display: flex; align-items: center;">
                        <span style="margin-right: 4px;">{{ icon_comment}} Kommentare während dieses Zeitraums:
        </div>
        <table style="border-collapse: collapse; width: 100%; margin: 20px 0; font-family: Arial, sans-serif; border: 2px solid #ddd;">
            <thead>
            <tr>
                <th style="padding: 12px; text-align: left; width: 33%; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">Name der Speise</th>
                <th style="padding: 6px; text-align: left; width: 67%; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">Kommentare</th>
            </tr>
            </thead>
            <tbody>
                {% for food in foods %}
                    <tr style="border-bottom: 1px solid #aaa;">
                        <td style="padding: 12px; text-align: left; width: 33%; border-right: 1px solid #aaa;">{{ food.alias }}</td>
                        <td style="padding: 6px; text-align: left; width: 67%; border-right: 1px solid #aaa;">
                            <div>
                                <ul>
                                    {% if food.comments.size > 0 %}
                                        {% for comment in food.comments %}
                                            <li>{{ comment }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>Keine</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<p style="padding-top: 30px">Dies ist ein automatisch generierter Bericht.</p>{% endblock %}
