{% layout "base-german" %} {% block content %}
<h1>{{projectName}} - Bericht</h1>

{% comment %}
    For the usage of icons, you can use the script located at /backend/Backend/scripts/getBase64IconForMail.py
    > python3 getBase64IconForMail.py chart-areaspline
{% endcomment %}


<h2>Bericht über den Zeitraum {{dateHumanReadable}}</h2>
<p>Dieser Bericht enthält detaillierte Informationen über die angebotenen Speisen, einschließlich Bewertungen und Kundenkommentare. Sehen Sie sich die Liste unten an, um zu erfahren, was unsere Kunden dazu sagen.</p>
<p>Die folgenden Speisen der Mensen wurden in den Bericht aufgenommen: {{canteen_alias}}</p>

<div>
    {% if show_canteen_feedbacks %}
        <div>
            <h2>Mensa Rückmeldungen</h2>
        </div>
        <p>
            {{ status_explanation }}
        </p>
        <div>
            <table style="border-collapse: collapse; width: 100%; margin: 20px 0; font-family: Arial, sans-serif; border: 2px solid #ddd;">
                <thead>
                <tr>
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        Status
                        (Änderung)
                    </th>
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        Label
                    </th>
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        Mensa
                    </th>
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        <div style="display: flex; align-items: center;">
                            <span style="margin-right: 4px;">{{ icon_thumbs_up }}</span> Positiv (davon neu)
                        </div>
                    </th>
                    <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        <div style="display: flex; align-items: center;">
                            <span style="margin-right: 4px;">{{ icon_thumbs_down }} Negativ (davon neu)
                        </div>
                    </th>
                    <th style="padding: 12px; text-align: left; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                        Anzahl Insgesamt
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for label in canteen_labels %}
                    <tr style="border-bottom: 1px solid #aaa;">
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.status_total }} ({{ label.status_new }})</td>
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.label_alias }}</td>
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.canteen_alias }}</td>
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.amount_positive }} ({{ label.amount_positive_new }})</td>
                        <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.amount_negative }} ({{ label.amount_negative_new }})</td>
                        <td style="padding: 12px; text-align: left;">{{ label.amount_total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% comment %}
                Now a divider is added to separate the canteen feedbacks from the food feedbacks
            {% endcomment %}
            <div style="border-bottom: 2px solid #ddd; margin-bottom: 20px;">&nbsp;</div>
        </div>
    {% endif %}
    {% if show_food %}
        <div>
            <h2>Speise Rückmeldungen</h2>
        </div>
        <p>
            {{ status_explanation }}
        </p>
        {% for food in foods %}
            <div>
                <h3>{{ food.alias }}</h3>
                 {% if show_images %}
                    <div>
                        <img src="{{ food.image_url }}" alt="{{ food.alias }}" style="width: 100px; height: 100px;">
                    </div>
                 {% endif %}
                <div>
                    <div style="display: flex; align-items: center;">
                        <span style="margin-right: 4px;">{{ icon_star }}</span> Bewertung: {{ food.rating_average }} (Anzahl Bewertungen: {{ food.rating_amount }})
                    </div>
                    <div style="display: flex; align-items: center;">
                        {{ food.status_rating }} Speise Bewertung im Vergleich zur durchschnittlichen Bewertung aller Speisen {{ food_rating_average }}
                    </div>
                </div>
                {% if show_food_feedback_labels %}
                    <div>
                        <table style="border-collapse: collapse; width: 100%; margin: 20px 0; font-family: Arial, sans-serif; border: 2px solid #ddd;">
                            <thead>
                            <tr>
                                <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                                    Status
                                    (Änderung)
                                </th>
                                <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                                    Label
                                </th>
                                <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                                    <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 4px;">{{ icon_thumbs_up }} Positiv (davon neu)
                                    </div>
                                </th>
                                <th style="padding: 12px; text-align: left; border-right: 1px solid #aaa; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                                    <div style="display: flex; align-items: center;">
                                        <span style="margin-right: 4px;">{{ icon_thumbs_down }} Negativ (davon neu)
                                    </div>
                                </th>
                                <th style="padding: 12px; text-align: left; background-color: #f2f2f2; border-bottom: 3px solid {{ projectColor }};">
                                    Anzahl Insgesamt
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for label in food.labels %}
                                <tr style="border-bottom: 1px solid #aaa;">
                                    <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.status_total }} ({{ label.status_new }})</td>
                                    <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.alias }}</td>
                                    <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.amount_positive }} ({{ label.amount_positive_new }})</td>
                                    <td style="padding: 12px; text-align: left; border-right: 1px solid #aaa;">{{ label.amount_negative }} ({{ label.amount_negative_new }})</td>
                                    <td style="padding: 12px; text-align: left;">{{ label.amount_total }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endif %}
                {% if show_food_comments %}
                    <div>
                        <div style="display: flex; align-items: center;">
                            <span style="margin-right: 4px;">{{ icon_comment}} Kommentare während dieses Zeitraums:
                        </div>
                        <ul>
                            {% if food.comments.size > 0 %}
                                {% for comment in food.comments %}
                                    <li>{{ comment }}</li>
                                {% endfor %}
                            {% else %}
                                <li>Keine</li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div style="border-bottom: 2px solid #ddd; margin-bottom: 20px;">&nbsp;</div>
        {% endfor %}
    </div>
{% endif %}
<p style="padding-top: 30px">Dies ist ein automatisch generierter Bericht.</p>
{% endblock %}
